/QuanLyNhaSach.v12.suo
/QuanLyNhaSach.suo
/QuanLyNhaSach/bin
/QuanLyNhaSach/obj
/QuanLyNhaSach/App.config
/WPF.MDI/bin
/WPF.MDI/obj
/QuanLyNhaSach.UnitTest/obj
/QuanLyNhaSach.UnitTest/bin
/TestResults