<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="app_name" value="Tiki"/>
    <add key="max_login_fail" value="3"/>
    <add key="testmode_passlogin" value="false"/>
    <add key="testmode_passlogin_username" value=""/>
    <add key="testmode_passlogin_password" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="sql_connection_string" connectionString="Server=CHIPHONG\FORLEARNING;Database=QuanLyNhaSach;Trusted_Connection=True;Connect Timeout=300;Pooling='true';Max Pool Size=300"/>
  </connectionStrings>
</configuration>