USE [QuanLyNhaSach]
GO
/****** Object:  Table [dbo].[BaoCaoTon]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoTon](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
 CONSTRAINT [PK_BaoCaoTon] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoCongNo]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoCongNo](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
 CONSTRAINT [PK_BaoCaoCongNo] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_THE_LOAI] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (1, N'1+')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (2, N'2+')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (3, N'3+')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
/****** Object:  Table [dbo].[TacGia]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTacGia] [int] IDENTITY(1,1) NOT NULL,
	[TenTacGia] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia]) VALUES (1, N'Nhiều tác giả')
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia]) VALUES (2, N'Fred Vargas')
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia]) VALUES (3, N'Darren Shan')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
/****** Object:  Table [dbo].[Sach]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[AnhBia] [varchar](255) NULL,
	[SoLuongTon] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[BiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON
INSERT [dbo].[Sach] ([MaSach], [TenSach], [AnhBia], [SoLuongTon], [DonGia], [BiXoa]) VALUES (1, N'Kính Vạn Hoa - Trọn bộ', N'KVH_TronBo.png', 150, 300000, 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [AnhBia], [SoLuongTon], [DonGia], [BiXoa]) VALUES (2, N'Hoa Thiên Cốt - Trọn bộ', N'HoaThienCot_TronBo.png', 147, 240000, 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [AnhBia], [SoLuongTon], [DonGia], [BiXoa]) VALUES (3, N'Narnia - Trọn bộ', N'Narnia_TronBo.png', 149, 220000, 0)
SET IDENTITY_INSERT [dbo].[Sach] OFF
/****** Object:  Table [dbo].[QuyDinh]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh](
	[MaQuyDinh] [int] IDENTITY(1,1) NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[SoLuongSachTonToiThieuDeNhap] [int] NOT NULL,
	[SoLuongSachNhapToiThieu] [int] NOT NULL,
	[TienNoToiDa] [int] NOT NULL,
	[SoLuongSachTonToiThieuSauKhiBan] [int] NOT NULL,
	[DuocThuVuotSoTienKhachHangDangNo] [bit] NOT NULL,
 CONSTRAINT [PK_QuyDinh] PRIMARY KEY CLUSTERED 
(
	[MaQuyDinh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuyDinh] ON
INSERT [dbo].[QuyDinh] ([MaQuyDinh], [NgayCapNhat], [SoLuongSachTonToiThieuDeNhap], [SoLuongSachNhapToiThieu], [TienNoToiDa], [SoLuongSachTonToiThieuSauKhiBan], [DuocThuVuotSoTienKhachHangDangNo]) VALUES (1, CAST(0x0000A5E000000000 AS DateTime), 300, 150, 20000, 20, 1)
SET IDENTITY_INSERT [dbo].[QuyDinh] OFF
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaPhanQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenPhanQuyen] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaPhanQuyen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [TenPhanQuyen]) VALUES (1, N'Nhân viên')
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [TenPhanQuyen]) VALUES (2, N'Quản lý')
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [TenPhanQuyen]) VALUES (3, N'Quản trị viên')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
/****** Object:  Table [dbo].[KhachHang]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[SoTienNo] [int] NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [char](20) NOT NULL,
	[Email] [varchar](255) NULL,
	[BiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoTienNo], [DiaChi], [DienThoai], [Email], [BiXoa]) VALUES (13, N'Khách Hàng Thông Thường', 0, N'<Địa chỉ>', N'0                   ', NULL, 0)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoTienNo], [DiaChi], [DienThoai], [Email], [BiXoa]) VALUES (14, N'Huỳnh Chí Phong', 0, N'792/4 đường Kha Vạn Cân, phường Linh Đông, quận Thủ Đức, tp Hồ Chí Minh, nước Việt Nam, tinh cầu Trái Đất, tinh hệ Thái Dương Hệ', N'0                   ', N'hiroshi.kaze1994@gmail.com', 0)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoTienNo], [DiaChi], [DienThoai], [Email], [BiXoa]) VALUES (15, N'Võ Hoài Nam', 0, N'Trên mặt đất, dưới bầu trời', N'0                   ', NULL, 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
/****** Object:  Table [dbo].[HoaDon]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[TienTra] [int] NOT NULL,
	[TongTien] [int] NOT NULL,
	[DaLuu] [bit] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [NgayLap], [TienTra], [TongTien], [DaLuu]) VALUES (5, 13, CAST(0x0000A606011BB678 AS DateTime), 60000, 240000, 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [NgayLap], [TienTra], [TongTien], [DaLuu]) VALUES (6, 13, CAST(0x0000A6060120F0C0 AS DateTime), 40000, 60000, 1)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [NgayLap], [TienTra], [TongTien], [DaLuu]) VALUES (7, 13, CAST(0x0000A606012194D0 AS DateTime), 280000, 220000, 1)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
/****** Object:  Table [dbo].[ChiTietTheLoaiSach]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTheLoaiSach](
	[MaSach] [int] NOT NULL,
	[MaTheLoai] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietTheLoaiSach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaTheLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietTheLoaiSach] ([MaSach], [MaTheLoai]) VALUES (1, 31)
INSERT [dbo].[ChiTietTheLoaiSach] ([MaSach], [MaTheLoai]) VALUES (1, 32)
INSERT [dbo].[ChiTietTheLoaiSach] ([MaSach], [MaTheLoai]) VALUES (1, 48)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[ChiTietTacGiaSach]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTacGiaSach](
	[MaSach] [int] NOT NULL,
	[MaTacGia] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietTacGiaSach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaTacGia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietTacGiaSach] ([MaSach], [MaTacGia]) VALUES (1, 8)
INSERT [dbo].[ChiTietTacGiaSach] ([MaSach], [MaTacGia]) VALUES (2, 4)
INSERT [dbo].[ChiTietTacGiaSach] ([MaSach], [MaTacGia]) VALUES (3, 11)
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/17/2016 22:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[MaPhanQuyen] [int] NOT NULL,
	[BiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [HoTen], [MaPhanQuyen], [BiXoa]) VALUES (1, N'NhanVien1@gmail.com', N'test', N'Test 1', 1, 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [HoTen], [MaPhanQuyen], [BiXoa]) VALUES (2, N'NhanVien2@gmail.com', N'test', N'Test 2', 1, 0)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [HoTen], [MaPhanQuyen], [BiXoa]) VALUES (3, N'NhanVien3@gmail.com', N'test', N'Test 3', 1, 0)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
/****** Object:  Table [dbo].[ChiTietBaoCaoTon]    Script Date: 05/17/2016 22:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBaoCaoTon](
	[MaBaoCao] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuongTonDau] [int] NOT NULL,
	[SoLuongTonCuoi] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietBaoCaoTon] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBaoCaoCongNo]    Script Date: 05/17/2016 22:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBaoCaoCongNo](
	[MaBaoCao] [int] NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[SoTienNoDau] [int] NOT NULL,
	[SoTienNoCuoi] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietBaoCaoCongNo] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC,
	[MaKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 05/17/2016 22:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSach], [SoLuong], [DonGia]) VALUES (5, 2, 1, 240000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSach], [SoLuong], [DonGia]) VALUES (6, 26, 1, 20000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSach], [SoLuong], [DonGia]) VALUES (6, 52, 1, 20000)
/****** Object:  Table [dbo].[PhieuThuTien]    Script Date: 05/17/2016 22:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuTien](
	[MaPhieuThu] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayThu] [datetime] NOT NULL,
	[SoTienThu] [int] NOT NULL,
	[MaTaiKhoan] [int] NOT NULL,
 CONSTRAINT [PK_PhieuThuTien] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 05/17/2016 22:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhapKho] [datetime] NOT NULL,
	[NgayTaoPhieu] [datetime] NOT NULL,
	[MaTaiKhoan] [int] NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 05/17/2016 22:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPhieuNhap] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_THE_LOAI_TenTheLoai]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[TheLoai] ADD  CONSTRAINT [DF_THE_LOAI_TenTheLoai]  DEFAULT (N'<Tên thể loại>') FOR [TenTheLoai]
GO
/****** Object:  Default [DF_TacGia_TenTacGia]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[TacGia] ADD  CONSTRAINT [DF_TacGia_TenTacGia]  DEFAULT (N'<Tên tác giả>') FOR [TenTacGia]
GO
/****** Object:  Default [DF_SACH_TenSach]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_SACH_TenSach]  DEFAULT (N'<Tên sách>') FOR [TenSach]
GO
/****** Object:  Default [DF_SACH_SoLuongTon]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_SACH_SoLuongTon]  DEFAULT ((0)) FOR [SoLuongTon]
GO
/****** Object:  Default [DF_SACH_DonGia]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_SACH_DonGia]  DEFAULT ((0)) FOR [DonGia]
GO
/****** Object:  Default [DF_SACH_BiXoa]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_SACH_BiXoa]  DEFAULT ((0)) FOR [BiXoa]
GO
/****** Object:  Default [DF_QuyDinh_SoLuongSachTonToiThieuDeNhap]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[QuyDinh] ADD  CONSTRAINT [DF_QuyDinh_SoLuongSachTonToiThieuDeNhap]  DEFAULT ((0)) FOR [SoLuongSachTonToiThieuDeNhap]
GO
/****** Object:  Default [DF_QuyDinh_TienNoToiDa]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[QuyDinh] ADD  CONSTRAINT [DF_QuyDinh_TienNoToiDa]  DEFAULT ((0)) FOR [TienNoToiDa]
GO
/****** Object:  Default [DF_QuyDinh_SoLuongSachTonToiThieuSauKhiBan]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[QuyDinh] ADD  CONSTRAINT [DF_QuyDinh_SoLuongSachTonToiThieuSauKhiBan]  DEFAULT ((0)) FOR [SoLuongSachTonToiThieuSauKhiBan]
GO
/****** Object:  Default [DF_QuyDinh_DuocThuVuotSoTienKhachHangDangNo]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[QuyDinh] ADD  CONSTRAINT [DF_QuyDinh_DuocThuVuotSoTienKhachHangDangNo]  DEFAULT ((1)) FOR [DuocThuVuotSoTienKhachHangDangNo]
GO
/****** Object:  Default [DF_KhachHang_HoTen]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_HoTen]  DEFAULT (N'<Tên khách hàng>') FOR [HoTen]
GO
/****** Object:  Default [DF_KhachHang_SoTienNo]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_SoTienNo]  DEFAULT ((0)) FOR [SoTienNo]
GO
/****** Object:  Default [DF_KhachHang_DiaChi]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_DiaChi]  DEFAULT (N'<Địa chỉ>') FOR [DiaChi]
GO
/****** Object:  Default [DF_KhachHang_BiXoa]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_BiXoa]  DEFAULT ((0)) FOR [BiXoa]
GO
/****** Object:  Default [DF_HoaDon_TienTra]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_TienTra]  DEFAULT ((0)) FOR [TienTra]
GO
/****** Object:  Default [DF_HoaDon_TongTien]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_TongTien]  DEFAULT ((0)) FOR [TongTien]
GO
/****** Object:  Default [DF_HoaDon_DaLuu]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_DaLuu]  DEFAULT ((0)) FOR [DaLuu]
GO
/****** Object:  Default [DF_TaiKhoan_BiXoa]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_BiXoa]  DEFAULT ((0)) FOR [BiXoa]
GO
/****** Object:  Default [DF_ChiTietBaoCaoTon_SoLuongTonDau]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietBaoCaoTon] ADD  CONSTRAINT [DF_ChiTietBaoCaoTon_SoLuongTonDau]  DEFAULT ((0)) FOR [SoLuongTonDau]
GO
/****** Object:  Default [DF_ChiTietBaoCaoTon_SoLuongTonCuoi]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietBaoCaoTon] ADD  CONSTRAINT [DF_ChiTietBaoCaoTon_SoLuongTonCuoi]  DEFAULT ((0)) FOR [SoLuongTonCuoi]
GO
/****** Object:  Default [DF_ChiTietBaoCaoCongNo_SoTienNoDau]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietBaoCaoCongNo] ADD  CONSTRAINT [DF_ChiTietBaoCaoCongNo_SoTienNoDau]  DEFAULT ((0)) FOR [SoTienNoDau]
GO
/****** Object:  Default [DF_ChiTietBaoCaoCongNo_SoTienNoCuoi]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietBaoCaoCongNo] ADD  CONSTRAINT [DF_ChiTietBaoCaoCongNo_SoTienNoCuoi]  DEFAULT ((0)) FOR [SoTienNoCuoi]
GO
/****** Object:  Default [DF_ChiTietHoaDon_SoLuong]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_ChiTietHoaDon_SoLuong]  DEFAULT ((0)) FOR [SoLuong]
GO
/****** Object:  Default [DF_ChiTietHoaDon_DonGia]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_ChiTietHoaDon_DonGia]  DEFAULT ((0)) FOR [DonGia]
GO
/****** Object:  Default [DF_PhieuThuTien_SoTienThu]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[PhieuThuTien] ADD  CONSTRAINT [DF_PhieuThuTien_SoTienThu]  DEFAULT ((0)) FOR [SoTienThu]
GO
/****** Object:  Default [DF_ChiTietPhieuNhap_SoLuong]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietPhieuNhap] ADD  CONSTRAINT [DF_ChiTietPhieuNhap_SoLuong]  DEFAULT ((0)) FOR [SoLuong]
GO
/****** Object:  ForeignKey [FK_HoaDon_KhachHang]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
/****** Object:  ForeignKey [FK_ChiTietTheLoaiSach_Sach]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[ChiTietTheLoaiSach]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTheLoaiSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietTheLoaiSach] CHECK CONSTRAINT [FK_ChiTietTheLoaiSach_Sach]
GO
/****** Object:  ForeignKey [FK_ChiTietTheLoaiSach_TheLoai]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[ChiTietTheLoaiSach]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTheLoaiSach_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[ChiTietTheLoaiSach] CHECK CONSTRAINT [FK_ChiTietTheLoaiSach_TheLoai]
GO
/****** Object:  ForeignKey [FK_ChiTietTacGiaSach_Sach]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[ChiTietTacGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTacGiaSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietTacGiaSach] CHECK CONSTRAINT [FK_ChiTietTacGiaSach_Sach]
GO
/****** Object:  ForeignKey [FK_ChiTietTacGiaSach_TacGia]    Script Date: 05/17/2016 22:12:27 ******/
ALTER TABLE [dbo].[ChiTietTacGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTacGiaSach_TacGia] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TacGia] ([MaTacGia])
GO
ALTER TABLE [dbo].[ChiTietTacGiaSach] CHECK CONSTRAINT [FK_ChiTietTacGiaSach_TacGia]
GO
/****** Object:  ForeignKey [FK_TaiKhoan_PhanQuyen]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_PhanQuyen] FOREIGN KEY([MaPhanQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaPhanQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_PhanQuyen]
GO
/****** Object:  ForeignKey [FK_ChiTietBaoCaoTon_BaoCaoTon]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietBaoCaoTon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaoCaoTon_BaoCaoTon] FOREIGN KEY([MaBaoCao])
REFERENCES [dbo].[BaoCaoTon] ([MaBaoCao])
GO
ALTER TABLE [dbo].[ChiTietBaoCaoTon] CHECK CONSTRAINT [FK_ChiTietBaoCaoTon_BaoCaoTon]
GO
/****** Object:  ForeignKey [FK_ChiTietBaoCaoTon_Sach]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietBaoCaoTon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaoCaoTon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietBaoCaoTon] CHECK CONSTRAINT [FK_ChiTietBaoCaoTon_Sach]
GO
/****** Object:  ForeignKey [FK_ChiTietBaoCaoCongNo_BaoCaoCongNo]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietBaoCaoCongNo]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaoCaoCongNo_BaoCaoCongNo] FOREIGN KEY([MaBaoCao])
REFERENCES [dbo].[BaoCaoCongNo] ([MaBaoCao])
GO
ALTER TABLE [dbo].[ChiTietBaoCaoCongNo] CHECK CONSTRAINT [FK_ChiTietBaoCaoCongNo_BaoCaoCongNo]
GO
/****** Object:  ForeignKey [FK_ChiTietBaoCaoCongNo_KhachHang]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietBaoCaoCongNo]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaoCaoCongNo_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[ChiTietBaoCaoCongNo] CHECK CONSTRAINT [FK_ChiTietBaoCaoCongNo_KhachHang]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_HoaDon]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
/****** Object:  ForeignKey [FK_ChiTietHoaDon_Sach]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Sach]
GO
/****** Object:  ForeignKey [FK_PhieuThuTien_KhachHang]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[PhieuThuTien]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuTien_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhieuThuTien] CHECK CONSTRAINT [FK_PhieuThuTien_KhachHang]
GO
/****** Object:  ForeignKey [FK_PhieuThuTien_TaiKhoan]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[PhieuThuTien]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuTien_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[PhieuThuTien] CHECK CONSTRAINT [FK_PhieuThuTien_TaiKhoan]
GO
/****** Object:  ForeignKey [FK_PhieuNhap_TaiKhoan]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_TaiKhoan]
GO
/****** Object:  ForeignKey [FK_ChiTietPhieuNhap_PhieuNhap]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap]
GO
/****** Object:  ForeignKey [FK_ChiTietPhieuNhap_Sach]    Script Date: 05/17/2016 22:12:28 ******/
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_Sach]
GO
